<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script
            crossorigin="anonymous"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            src="https://unpkg.com/htmx.org@2.0.3"
    ></script>
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
            integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
            rel="stylesheet"
    />
    <!-- import styles.css from static-->
    <link
            href="{{ url_for('static', filename='css/styles.css') }}"
            rel="stylesheet"
    />
    <title>ff</title>
</head>
<body>
<div class="base-page">
    <div class="pure-menu pure-menu-horizontal" style="display: inline-block;">
        <!-- Left side menus -->
        <ul class="pure-menu-list" style="float: left;">
            <li class="pure-menu-item pure-menu-selected">
                <a class="pure-menu-link" href="/">Home</a>
            </li>
            <li
                    class="pure-menu-item pure-menu-has-children pure-menu-allow-hover"
            >
                <a class="pure-menu-link" href="#" id="menuLink1"
                >TEST</a
                >
                <ul class="pure-menu-children">
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="#">TEST@</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
    <main class="container">
        <div class="content center">{% block content %} {% endblock %}</div>
    </main>
</div>
</body>
</html>