{% extends 'base.html.jinja2' %}

{% block title %}Chat Messages{% endblock %}

{% block content %}
<section class="content">
  <header>
    <h1>Chat Messages</h1>
  </header>
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Chat Message</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messages %}
      <tr>
        <td>{{ message.username }}</td>
        <td>{{ message.chat_message }}</td>
        <td>{{ message.timestamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}